.bg-cl{
    background-color: #000324;
}

.wclr{
    color: white;
    margin-top: 70px;
    
}

.locate{
    
}

.bg-imR{
    background: url(../Assets/header.jpg) no-repeat center;
    width: 100%;
    height: 500px;
}